# ===== Unity =====
# Bu klasörler Unity tarafından otomatik üretilir, asla commit edilmez
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Asset Store araçları
/[Aa]ssets/AssetStoreTools*

# Autobuilder plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# IDE dosyaları
.vs/
.vsconfig
.idea/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity crash raporları
sysinfo.txt

# Derleme çıktıları
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics
crashlytics-build.properties

# Addressables & Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/StreamingAssets/aa.meta
/[Aa]ssets/StreamingAssets/aa/*

# İşletim sistemi çöpleri
.DS_Store
Thumbs.db
